section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article,
aside {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  aside {
    flex: 2.5; // 25% of its container
  }

  article {
    flex: 7.5; //75% of its container
  }
}

@media screen and (max-width: 799px) {
  aside {
    margin-top: $grid-col-padding*3;
  }
}
