$bgc-body: rgba(255, 255, 255, 0.87) !default;

html {
    color: rgb(29, 29, 29);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    margin: 0;
    padding: 0 0 .67em;
}

.is-card {
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),
                0 3px 3px -2px rgba(0,0,0,.12);
    border-radius: 1px;
    padding: 2rem $grid-col-padding*2;

    &:first-child {
        margin-top: 0;
    }
}

p {
    margin: 0;
    padding: .67em 0;
}

input {
    font-family: $content-font;
}

body {
    background: $bgc-body;
}

.white-text {
    color: #fff;
    display: none;
}

.vertically-center {
    display:flex;
    justify-content:center;
    align-items:center;
}