.board {
    font-family: $content-font;
    
    &__list {
        line-height: 1.25;
        margin-bottom: 0;
        padding-left: 0;
    }

    &__list-item {
        color: rgb(60, 60, 60);
        list-style: none;
        text-decoration: none;
    }

    &__member-type {
        color: #000;
        font-weight: 500;
    }
}

.board__list-item > a {
    color: #353535;
    text-decoration: none;
}

@media screen and (min-width: 950px) and (max-width: 1055px) {
    .board__list-item {
        font-size: 15px;
    }
}