.footer {
  background-color: rgb(238, 238, 238);

  &__container {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  &__title {
    font-size: 1rem;
  }

  &__list {
    font-family: $content-font;
    line-height: 1.35;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__list-item {
    list-style: none;
    text-decoration: none;
  }
}
