$bgc-footer: rgb(238, 238, 238) !default;
$color-footer-title: #000 !default;
$footer-font: san-serif !default;

$a-link-color: #fff !default;
$a-link-text-dec: none !default;
$a-hover-color: rgb(224, 224, 224) !default;
$a-hover-text-dec: underline !default;
$a-active-color: rgb(241, 241, 241) !default;

.footer {
  background: $bgc-footer;
  font-family: $content-font;

  &__container {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  &__title {
    color: $color-footer-title;
    font-size: 1rem;
  }

  &__list {
    line-height: 1.35;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__list-item {
    color: $a-link-color;
    list-style: none;
    text-decoration: none;

    // unvisited link
    a:link {
      color: $a-link-color;
      text-decoration: $a-link-text-dec;
    }

    // visited link
    a:visited {
      color: $a-link-color;
      text-decoration: $a-link-text-dec;
    }

    // mouse over link
    a:hover {
      color: $a-hover-color;
      text-decoration: $a-hover-text-dec;
    }

    // selected link
    a:active {
      color: $a-active-color;
      text-decoration: $a-hover-text-dec;
    }
  }

  &__bottom {
    text-align: center;
  }
}
