.footer {
  background-color: rgb(238, 238, 238);

  &__container {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  &__list {
    padding-left: 0;
  }

  &__list-item {
    list-style: none;
  }
}