$color-main-title: #000 !default;
$size-main-title: 2.5rem !default;
$bgc-body: rgba(255, 255, 255, 0.87) !default;
$link-hover-color: #1d1d1d !default;
$link-underline: #E9B589 !default;

.main {
    padding: 3rem 0;
    width: 100%;

    &__container {
        margin: 0 auto;
        padding: 0 10px;
        max-width: 1200px;
    }

    &__section {
        margin-top: $grid-col-padding*6;
        margin-bottom: $grid-col-padding*6;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        color: $color-main-title;
        font-size: $size-main-title;
        padding-bottom: 1rem;
        text-align: left;
    }
}

@media screen and (max-width: 799px) {
    .main {
        padding: 10px 0;

        &__section {
            margin-top: $grid-col-padding*3;
            margin-bottom: $grid-col-padding*3;
            
        }
    }
}

.content {
    line-height: 1.4;

    p {
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        font-family: $content-font;
    }

    h1,
    h2,
    h3,
    h4 {
        color: $color-main-title;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1.1rem;
    }

    ol > li {
        padding-bottom: .25rem;
    }

    &__user-submitted {
        a {
            border-bottom: 1px solid $link-underline;
            box-shadow: inset 0 -2px 0px 0px $link-underline;
            color: #1d1d1d;
            width: 100%;
            padding: 0 2px;
            transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
            text-decoration: none;
            
            &:hover, &:focus {
                background: $link-underline;
                color: $link-hover-color;
            }
        }
    }
}

.news a.read-more {
    border-bottom: 1px solid $link-underline;
    box-shadow: inset 0 -2px 0px 0px $link-underline;
    color: #1d1d1d;
    width: 100%;
    padding: 0 2px;
    transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    
    &:hover, &:focus {
        background: $link-underline;
        color: $link-hover-color;
    }
}

.page-content {
    line-height: 1.4;

    p {
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        font-family: $content-font;
    }

    a {
        color: #1d1d1d;
        &:hover,
        &:focus {
            color: rgb(109, 32, 32);
        }
    }

    h1,
    h2,
    h3,
    h4 {
        color: $color-main-title;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1.1rem;
    }

    ol > li {
        padding-bottom: .25rem;
    }

    &--page {
        ul {
            margin: 0;
        }
    
        a {
            border-bottom: 1px solid $link-underline;
            box-shadow: inset 0 -2px 0px 0px $link-underline;
            color: #1d1d1d;
            width: 100%;
            padding: 0 2px;
            transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
            text-decoration: none;
            
            &:hover, &:focus {
              background: $link-underline;
              color: $link-hover-color;
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .content {
        margin-right: $grid-col-padding*3;
    }
}

.wp-block-table tr > td {
    vertical-align: top;
    padding: 10px 5px;
}
