$color-sidebar-title: #000 !default;
$bgc-sidebar-widget: rgb(224, 224, 224) !default;

.sidebar {
    &__widget {
        background-color: $bgc-sidebar-widget;
        border-radius: 2px;
        margin-bottom: 1.5rem;
        padding: $grid-col-padding;
    }

    &__title {
        color: $color-sidebar-title;
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    p {
        font-family: $content-font;
    }

}

// Not working with sticky sidebar
// @media screen and (min-width:768px) {
//     .sidebar__widget {
//         float: left;
//         width: 48%;
//         margin-right: 2%;
//     }
// }


@media only screen and (min-width: 800px) {
    .sidebar {
        margin-left: $grid-col-padding*3;
    }

    // Not working with sticky sidebar
    // .sidebar__widget {
    //     width: 100%;
    // }
}

@media screen and (min-width: 1174px) {
    .sidebar {
        font-size: 18px;
    }
}