.sidebar {
    &__widget {
        margin-bottom: 1.5rem;
    }

    &__title {
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    p {
        font-family: $content-font;
    }

}

@media only screen and (min-width: 800px) {
    .sidebar {
        margin-left: $grid-col-padding*3;
    }
}